@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light tema (default) */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Dark tema (next-themes -> class="dark") */
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
